{% extends 'base/base.html' %}

{% block title %}Dépenses - ShopManager{% endblock %}

{% block content %}
<div class="space-y-6">
    <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold text-gray-800">Notes de frais</h2>
        <a href="{% url 'expense_add' %}" class="px-4 py-2 bg-primary text-white rounded-md shadow hover:bg-indigo-700">
            + Ajouter Dépense
        </a>
    </div>

    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Catégorie
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Description</th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Montant
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for expense in expenses %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ expense.date|date:"d/m/Y" }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ expense.category }}
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-500">{{ expense.description|truncatechars:50 }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-red-600">- {{ expense.amount }} FCFA
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">Aucune
                        dépense.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}